$upvote: $bg-primary;
$upvote-stroke: #aa190f;
$downvote: #3f51b5;
$downvote-stroke: #354498;
.vote-arrow {
	width: 15px;
	fill: none;
	stroke: black;
	stroke-width: 3px;
	&.upvote.active {
		fill: $upvote;
		stroke: $upvote-stroke;
	}
	&.downvote {
		transform: rotate(180deg);
		&.active {
			fill: $downvote;
			stroke: $downvote-stroke;
		}
	}
}
.vote-btn {
	height: 19px;
	background: none;
	border: none;
	cursor: pointer;
	&:disabled {
		opacity: 0.2;
	}
	&:hover {
		.vote-arrow {
			opacity: 0.8;
			&.upvote {
				stroke: $upvote-stroke;
			}
			&.downvote {
				stroke: $downvote-stroke;
			}
		}
	}
}
