.community-select {
	position: relative;
	&__header {
		display: flex;
		align-items: stretch;
		> input[type="text"] {
			margin: 0;
		}
	}
	&__search {
		flex: 1;
	}
	&__list {
		width: 100%;
		max-height: 5 * 28px;
		margin: 5px 0;
		padding: 0;
		position: absolute;
		border: 1px solid gray;
		border-radius: 2px;
		background: white;
		overflow-x: hidden;
		overflow-y: scroll;
		li {
			cursor: pointer;
			&:hover {
				background-color: #eee;
			}
		}
		button {
			width: 100%;
			text-align: left;
			background-color: transparent;
			border: none;
			> b,
			> span {
				pointer-events: none;
			}
			> b:before {
				content: "s/";
			}
		}
	}
}
