.comment {
	padding: 5px;
	&-composer {
		margin: 20px 0;
		display: flex;

		input[type="text"] {
			padding: 7px;
			border: 1px solid #e9e9e9;
			border-radius: 3px;
			margin: 0 10px;
			flex: 1;
			font-size: 16px;
		}
		input[type="submit"] {
			padding: 7px 20px;
			background: $bg-primary;
			color: white;
			border: 1px solid $bg-primary;
			border-radius: 3px;
		}
	}
	&__header {
		font-size: 13px;
		width: 100%;
		color: dimgray;
		display: flex;
		align-items: center;

		a:not(.user-avatar) {
			margin: 0 5px;
			color: black;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__body,
	&__footer {
		margin-left: 27px;
	}

	&__footer {
		margin: 0 0 0 27px;
		padding-top: 5px;
		display: flex;
		align-items: center;
		border-top: 1px solid #bfbfbf;
		& > button {
			cursor: pointer;
			background: none;
			border: none;
			padding: 5px;
			border-radius: 3px;
			margin: 0;
			&:hover {
				background-color: #e9e9e9;
			}
		}
	}

	&__body {
		padding-left: 10px;
		margin-bottom: 5px;
	}

	&__vote {
		display: inline-flex;
		align-items: center;

		.vote-arrow {
			scale: 0.8;
		}
	}

	.id {
		flex: 1;
		text-align: right;
	}
}
