.comment {
	padding: 5px;
	&-composer {
		margin-bottom: 10px;
	}
	&__pfp-wrapper {
		float: left;
		display: block;
		margin-right: 5px;
		padding-top: 2px;
		height: auto;
	}
	&__header {
		font-size: 13px;
		width: 100%;
		color: dimgray;
	}
	&__body {
		// border-left: 2px solid black;
		padding-left: 10px;
		margin-left: 27px;
	}
}
