.dropdown {
	& > &__content {
		display: none;
		width: max-content;
		@include border-radius-bottom(3px);
		background: darken($bg-primary, 25%);
		position: absolute;
		z-index: 999;
		right: 0;
		top: 100%;
		overflow: hidden;
		li {
			display: block;
			padding: 5px;
			&:hover {
				background: $bg-secondary;
			}
		}
		i {
			width: 20px;
			margin-right: 5px;
			font-size: 0.7em;
			text-align: center;
		}
	}

	& > &__title {
		background: none !important;
		border: none;
		padding: 0 !important;
		color: inherit;
		font-size: inherit;
		font-family: inherit;

		i {
			transition: transform 0.2s ease-in-out;
		}
	}

	&:focus-within &__content {
		display: block !important;
	}

	&:focus-within &__title i {
		transform: rotate(180deg);
	}
}
