.dropdown {
	& > &__content {
		display: none;
		position: absolute;
		z-index: 999;
		background: #5d0000;
		right: 0;
		width: max-content;
		top: 100%;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		overflow: hidden;
		li {
			display: block;
			padding: 5px 5px;
			&:hover {
				background: #800020;
			}
		}
		i {
			width: 20px;
			margin-right: 5px;
			font-size: 0.7em;
			text-align: center;
		}
	}

	& > &__title {
		background: none !important;
		border: none;
		padding: 0 !important;
		color: inherit;
		font-size: inherit;
		font-family: inherit;

		i {
			transition: transform 0.2s ease-in-out;
		}
	}

	&:focus-within &__content {
		display: block !important;
	}

	&:focus-within &__title i {
		transform: rotate(180deg);
	}
}
