.link-preview {
	border-radius: 5px;
	outline: 1px solid #ebebeb;
	overflow: hidden;
	margin-top: 10px;
	color: black;
	display: flex;
	width: 100%;

	&__thumb {
		width: 120px;
		height: 120px;
		img {
			width: 120px;
			height: 120px;
			object-fit: cover;
			outline: 1px solid #ebebeb;
			background-color: #ebebeb;
		}
	}

	&__main {
		padding: 10px;
		flex: 1;
		position: relative;
	}

	&__title {
		display: flex;
		align-items: center;
		text-overflow: ellipsis;
		img {
			margin-right: 10px;
		}
	}
	&__description {
		font-size: 0.9em;
	}

	&__favicon {
		width: 25px;
		height: 25px;
	}

	&__host {
		font-size: 0.8em;
		color: #606060;
		position: absolute;
		// TODO refactor
		width: 100%;
		bottom: 10px;
		background-color: white;
		height: 18px;
	}
}
