.sort {
	margin-top: 10px;
	a {
		text-decoration: none;
		color: black;
		margin-right: 10px;
		&:hover {
			&:has(.fa-fire) {
				color: orange;
			}
			&:has(.fa-newspaper) {
				color: green;
			}
		}
	}
}
