.sort {
	margin-top: 10px;
	a {
		text-decoration: none;
		margin-right: 5px;
		color: black;
		padding: 3px 8px;
		border-radius: 30px;
		&:hover {
			background-color: #f3f3f3;
		}
	}
	&.active {
		background-color: #efefef;
		color: $bg-primary;
	}
}
