.user {
	&-avatar {
		width: 30px;
		aspect-ratio: 1/1;
		border-radius: 50%;
		outline: 1px solid black;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
		object-fit: cover;

		&.medium {
			width: 70px;
		}

		&.big {
			width: 100px;
		}

		&__wrapper {
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}

		&__overlay {
			color: black;
		}
	}
	&-profile {
		display: flex;
		align-items: center;
		flex-direction: column;
		overflow: visible;
		p {
			margin: 0;
			padding: 0 20px;
		}
		&__username {
			text-align: center;
			margin-bottom: 10px;
			h2 {
				margin: 0;
			}
			a {
				color: #6d6d6d;
				text-decoration: none;
			}
		}
		&__banner {
			width: calc(100% + 2px);
			height: 50px;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			background-color: $bg-primary;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: -1px;
			margin-bottom: 40px;

			& .user-avatar {
				position: relative;
				top: 50%;
				outline: 4px solid white;
			}
		}
		&__stats {
			margin-top: 10px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			padding: 0 20px;
		}
		.follow-btn {
			margin: 0;
			margin-top: 20px;
			margin-bottom: 10px;
		}
		.edit-profile {
			margin: 0;
			margin-top: 20px;
			margin-bottom: 10px;
			text-decoration: none;
			color: #6d6d6d;

			&:hover {
				color: black;
			}
		}
	}
	&-item {
		ul:has(&) {
			padding: 5px;
			margin: 0;
		}
		list-style-type: none;
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 5px;
		padding: 5px;
	}
}
