.user {
	&-pfp {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 1px solid black;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: purple;
		color: white;
	}
	&-item {
		ul:has(&) {
			padding: 5px;
			margin: 0;
		}
		list-style-type: none;
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 5px;
		padding: 5px;
	}
}
