.user {
	&-avatar {
		width: 30px;
		aspect-ratio: 1/1;
		border-radius: 50%;
		outline: 1px solid #bfbfbf;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
		object-fit: cover;

		&.medium {
			width: 70px;
		}

		&.big {
			width: 100px;
		}

		&__wrapper {
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}

		&__overlay {
			color: black;
		}
	}
	&-item {
		ul:has(&) {
			padding: 5px;
			margin: 0;
		}
		list-style-type: none;
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 5px;
		padding: 5px;
	}
}
