.form-wrapper {
	margin: 0 auto;
	max-width: max-content;
	padding: 0 20px;

	.has-error {
		border: 1px solid red;
	}
	.form-error {
		color: red;
	}

	&.user-editform {
		// TODO Refactor this
		border-radius: 2px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
		padding: 20px;
		padding-top: 10px;
		margin-top: 15px;

		h1 {
			margin: 0;
			margin-bottom: 10px;
		}

		.user-avatar__wrapper {
			margin-top: 10px;
		}
	}

	&.login,
	&.post-form form {
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	}

	&.login {
		background-color: white;
		padding: 10px 20px;
		margin-top: 15px;
		zoom: 1.2;

		h1 {
			font-size: 1.5em;
			margin: 0 0 15px;
			padding: 0;
		}

		.field {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}

		i {
			width: 20px;
			font-size: 0.7em;
			color: gray;
		}

		input {
			border: none;
			border-bottom: 1px solid gray;
			padding: 5px;

			&:valid {
				border-color: black;
			}

			&[type="submit"] {
				width: 100%;
				background-color: black;
				color: white;
				border: none;
				padding: 6px 0;
				margin-top: 10px;

				&:hover {
					background-color: #333;
				}
			}
		}
	}
}
