main {
	padding: 10px 10px 50px 10px;
	display: flex;
	justify-content: center;
	flex-direction: row;

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		aside {
			order: 0;
			width: 80%;
			margin: 0;
			min-width: 500px;
		}
		& > section {
			width: 80%;
		}
	}

	& > section {
		min-width: 300px;
	}
}

section > h2 {
	margin: 0;
}
