main {
	padding: 10px 10px 50px 10px;
	display: flex;
	justify-content: center;
	flex-direction: row;

	&.noflex {
		display: block;
	}

	@media (max-width: 950px) {
		flex-direction: column;
		align-items: center;
		aside,
		& > section {
			order: 0;
			width: 100% !important; // todo remove
			margin: 0;
			min-width: 0 !important; // todo remove
		}
	}

	@media (max-width: 750px) {
		aside,
		& > section {
			width: 100%;
		}
	}
}

section > h2 {
	margin: 0;
}
