aside {
	width: 300px;
	margin-left: 20px;
	display: inline-block;
	justify-self: flex-end;
	order: 1;
}

article.titled {
	margin-bottom: 10px;
	border-radius: 2px;
	overflow: visible;

	& > h1 {
		margin: -1px;
		padding: 5px;
		@include border-radius-top(2px);
		color: white;
		background-color: $bg-primary;
	}

	& > p {
		padding: 10px;
		margin: 0;
	}
}
