aside {
	width: 300px;

	margin-left: 20px;

	/* TODO REFACTOR */
	display: inline-block;
	justify-self: flex-end;
	order: 1;

	& .titled {
		margin-bottom: 10px;
		border-radius: 2px;
		overflow: visible;

		& > h1 {
			margin: -1px;
			padding: 5px;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			color: #fff;
			background-color: $bg-primary;
		}

		& > p {
			padding: 10px;
			margin: 0;
		}
	}
}
