<article class="comment">
  <section class="comment__header">
    <%= link_to comment.user.username, user_path(comment.user.username) %>
    <span><%= time_ago_in_words comment.created_at %> ago</span>
  </section>
  <section class="comment__body">
    <%= comment.body %>
  </section>
  <section class="comment__footer">
  </section>
</article>
