<% content_for :header do %>
  <%= render "nav" %>
<% end %>
<main>
  <section id="feed">
    <h1><%= @tab_name %></h1>
    <% @objects.each do |object| %>
      <% if object.class == Comment %>
        <% puts object.inspect %>
        <%= render "comments/comment_compact", comment: object %>
      <% else %>
        <%= render object %>
      <% end %>
    <% end %>
  </section>
</main>
