.post-form {
	form {
		width: 400px;
		border-radius: 5px;
		background-color: whitesmoke;
		overflow: hidden;
	}

	#post_title {
		margin-top: 10px;
	}

	input,
	textarea {
		margin-bottom: 10px;
	}

	input[type="text"],
	textarea {
		width: 100%;
		padding: 5px;
		border-radius: 2px;
		border: 1px solid gray;
	}

	textarea {
		resize: none;
		height: 200px;
	}

	input[type="submit"] {
		padding: 5px 10px;
		border: none;
		border-radius: 5px;
		background-color: #ddd;
		&:active {
			background-color: #f3f3f3;
			outline: 1px solid black;
		}
	}

	.upload-region {
		aspect-ratio: 2/1;
		border: 2px dashed lightgray;
		@include flex();
		margin-bottom: 10px;
		border-radius: 2px;

		input[type="file"] {
			@include hidden-keep-focus();
		}

		&:focus-within {
			border-color: $bg-primary;
		}

		&.dragover {
			border-color: $bg-primary;
		}
	}

	&__main {
		padding: 10px;
		padding-bottom: 0;
	}

	&__tabs {
		display: flex;
		width: 100%;
		.tab_button {
			flex: 1;
			border: none;
			padding: 5px;
			border-bottom: 3px solid lightgray;
			box-shadow: -2px 0px 0px 0px white;
			text-align: center;

			input[type="radio"] {
				position: absolute;
				opacity: 0;
			}
			&:has(input[type="radio"]:checked) {
				border-color: $bg-primary;
				background-color: #f3f3f3;
			}
			&:focus-within {
				i {
					outline: 2px dashed lightgray;
					outline-offset: 2px;
				}
			}
			&:first-child {
				box-shadow: none;
			}
		}
	}

	&__attachments {
		img {
			object-fit: cover;
			@include square(80px);
			outline: 2px solid lightgray;
			border-radius: 5px;
			opacity: 0.5;
		}
		.removebtn {
			all: unset;
			position: absolute;
			top: 0;
			right: 0;
			margin: 5px;
			@include circle(20px);
			background-color: black;
			color: white;
			font-size: 8px;
			display: none;
		}
		picture {
			position: relative;
			display: inline-block;
			margin: 0 10px 10px 0;
			&:hover {
				button {
					@include flex();
				}
				img {
					opacity: 1;
				}
			}
		}
	}
}
