<h2>Posts</h2>
<% unless @user.posts.exists? %>
  <p>There are no posts yet.</p>
<% end %>
<% @user.posts.order(created_at: :desc).each do |post| %>
  <%= render "posts/post_compact", post: post %>
<% end %>
