<% unless @user.posts.exists? %>
  <p>There are no posts yet.</p>
<% end %>
<% @user.posts.order(created_at: :desc).each do |post| %>
  <% if post.public? %>
    <%= render "posts/post_compact", post: post %>
  <% end%>
<% end %>
