<article class="post">
  <section class="post-head">
    <p>{COMMUNITY} posted by {USER} <%= post.created_at %></p>
  </section>
  <h3><%= post.title %></h3>
  <p><%= post.body %></p>
  <section class="post-footer">
    {FOOTER}
  </section>
</article>
