<article class="post">
  <section class="post-head">
    posted by <%= post.user.username %> <%= time_ago_in_words post.created_at %> ago
  </section>
  <h3><%= post.title %></h3>
  <p><%= post.body %></p>
  <section class="post-footer">
    {FOOTER}
  </section>
</article>
