<main>
  <%= render "sidebar" %>
  <section id="feed">
    <%= render "new_post" %>
    <%= render "sort" %>
    <% unless @posts.exists? %>
      <p>There are no posts yet.</p>
    <% end %>
    <% @posts.each do |post| %>
      <%= render "post", post: post %>
    <% end %>
  </section>
</main>
