<main>
  <section class="show-post">
    <h1>Showing a single post:</h1>
    <%= render "post", post: @post %>
    <h3>Comments</h3>
    <div class="comments-wrapper">
      <%= render "comments/form" %>
      <% unless @comments.exists? %>
        <p>No comments yet!</p>
      <% else %>
        <% @comments.each do |comment| %>
          <%= render "comments/comment", comment: comment %>
        <% end %>
      <% end%>
    </div>
  </section>
</main>
