html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

hr {
	border: none;
	background-color: #bebebe;
	height: 1px;
}

body {
	background-color: #f7f7f7;
}

* {
	box-sizing: border-box;
}

div.field_with_errors {
	display: inline;
}

img {
	border: 0;
}

button i {
	pointer-events: none;
}
